rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{uid} {
      allow read: if request.auth != null && request.auth.uid == uid;
      allow create: if request.auth != null && request.auth.uid == uid
        && request.resource.data.uid == uid
        && request.resource.data.role in ['CITIZEN','UNIVERSITY','INDUSTRY','NGO']
        && request.resource.data.verificationStatus in ['PENDING_EMAIL_VERIFICATION','PENDING','VERIFIED'];
      allow update: if request.auth != null && request.auth.uid == uid
        && request.resource.data.role == resource.data.role
        && request.resource.data.verificationStatus == resource.data.verificationStatus;
      allow delete: if request.auth != null && request.auth.uid == uid;
    }
  }
}
